@import "scss/animations";

.container {
  opacity: 0;
  height: 100%;
}

.up {
  animation-name: up;
}
.down {
  animation-name: down;
}
.left {
  animation-name: left;
}
.right {
  animation-name: right;
}
