@import "scss/variables";

.feature {
  min-height: 100vh;

  & h2::before {
    content: "OUR SPECIAL";
    display: block;
    font-size: 0.6em;
    color: $primary;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.item {
  & i {
    color: $primary;
    font-size: 2rem;
  }

  & p:first-child {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .feature {
    & img {
      aspect-ratio: 2 / 1;
    }
  }
  
  .feature {
    & p:first-child {
      font-size: 1.25rem;
    }
  }
}