@import "scss/variables";

.timeline {
  width: 80%;
  position: relative;
  margin: auto;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    height: 100%;
    border: gray dashed 1px;
    transform: translateX(-50%);
  }

  & ul {
    list-style: none;
    padding: 0;
    margin-top: 5rem;

    & li {
      position: relative;
      width: 50%;
      padding: 1rem 2rem;
      margin-bottom: 5rem;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        width: 10px;
        height: 10px;
        background-color: $primary-color;
        box-shadow: 0 0 0.5rem $primary-color;
        border-radius: 50%;
      }

      & .time {
        position: absolute;
        top: 50%;
        background-color: $primary-color;
        box-shadow: 0 0 1rem $primary-color;
        color: #fff;
        border-radius: 1rem;
        padding: 0.25rem 0.5rem;

        & h4 {
          margin: 0;
        }
      }

      &:nth-child(odd) {
        float: left;
        text-align: right;
        clear: both;

        &::before {
          right: -5px;
        }

        & .time {
          right: -4rem;
          transform: translate(100%, -50%);
        }
      }

      &:nth-child(even) {
        float: right;
        text-align: left;
        clear: both;

        &::before {
          left: -5px;
        }

        & .time {
          left: -4rem;
          transform: translate(-100%, -50%);
        }
      }

      & h3 {
        color: $primary-color;
      }
    }
  }

  & img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}

@media (max-width: 1200px) {
  .timeline {
    & img {
      aspect-ratio: 3 / 2;
    }
  }
}

@media (max-width: 992px) {
  .timeline {

    &::before {
      left: 0;
    }

    & ul {
      & li {
        width: 100%;

        & > div {
          padding-top: 2rem;
        }

        &::before {
          top: 0;
        }

        & .time {
          top: 0;
        }

        &:nth-child(odd) {
          float: none;
          text-align: left;

          &::before {
            left: -5px;
          }

          & .time {
            right: unset;
            left: -4rem;
            transform: translate(30%, -100%);
          }
        }
        &:nth-child(even) {
          float: none;

          &::before {
            left: -5px;
          }

          & .time {
            left: -4rem;
            transform: translate(30%, -100%);
          }
        }
      }
    }
  }
}
