@import "scss/variables";

.menu {
  z-index: 1;

  // Toggle menu
  & input:checked {
    & ~ div {
      width: 0;

      & div {
        transform: translateX(-100%);
      }
    }
  }

  & > div {
    width: 18rem;
    transition: 0.5s;

    // Menu open
    & > label {
      position: fixed;
      top: 1rem;
      left: 1rem;
      font-size: 1.5rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      transition: 0.5s;

      &:hover {
        background-color: #fff;
      }
    }

    // Menu
    & > div {
      position: fixed;
      top: 0;
      left: 0;
      width: 18rem;
      height: 100vh;
      box-shadow: 0 0 1rem lightgray;
      background-color: #fff;
      transition: 0.5s;

      // Menu close
      & > label {
        float: right;
        margin: 1rem 1rem 0;
        font-size: 1.5rem;
        cursor: pointer;
      }

      & img {
        width: 100%;
        padding: 0 2rem;
      }

      & h2 {
        color: gray;
        font-size: 1.1rem;
        margin: 1rem;
      }

      & li {
        margin: 0.5rem 1rem;

        & a {
          display: block;
          width: 100%;
          padding: 0.75rem 1.25rem;
          border-radius: 0.5rem;
          transition: 0.5s;

          &:hover {
            background-color: lightgray;
          }

          &.current {
            background-color: lightblue;
          }

          & i {
            margin-right: 1rem;
            color: $primary;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .menu {
    & > div {
      width: 0;
    }
  }
}

// Dashboard content
.menu ~ div {
  background-color: $background-color;
  padding: 5rem;
  min-height: 100vh;

  & > div {
    background-color: #fff;
    padding: 2rem;
    border-radius: 2rem;

    & h2 {
      margin: 1.5rem 0;
    }
  }
}

@media (max-width: 768px) {
  .menu ~ div {
    padding: 1rem;

    & > div {
      padding: 1rem;
      border-radius: 1rem;

      & h2 {
        margin: 1rem 0;
        font-size: 2rem;
      }
    }
  }
}
