@import "scss/variables";

.editor {
  & h3 {
    text-align: center;
    color: $primary;
    text-transform: uppercase;
  }

  & form {
    width: 50%;
    margin: auto;

    & input,
    textarea,
    select {
      width: 100%;
      outline: none;
      border: transparent solid 2px;
      padding: 1rem;
      background-color: $background-color;

      &:focus {
        border-color: $primary;
        background-color: transparent;
        transition: 0.5s;
      }
      &[aria-invalid="true"] {
        border-color: $red;
        background-color: transparent;
      }
    }

    & label {
      display: block;
      font-weight: bold;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      color: gray;
      text-transform: capitalize;
    }
    & span {
      color: $red;
    }
  }
}

@media (max-width: 992px) {
  .editor {
    & form {
      width: 100%;
    }
  }
}

.textField {
  & textarea {
    height: 20rem;
  }
}

.imageField {
  & img {
    width: 100%;
    aspect-ratio: 3 / 1;
    object-fit: cover;
  }
}

.multiImageField {
  & img {
    width: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
  }
}

.htmlField {
  & textarea {
    height: 20rem;
  }

  & input {
    display: none;
  }

  & .preview {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: scale(0.9);
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: black;
    opacity: 0.8;
  }

  & label {
    cursor: pointer;
  }

  & button {
    width: 25%;
    height: 3rem;
    margin: 1rem auto;

    & label {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      color: $primary;

      &:hover {
        color: white;
      }
    }
  }

  & input:checked {
    & ~ .preview {
      display: block;
    }
    & ~ label {
      display: block;
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 0 -0.5rem;

  & button,
  a {
    width: 50%;
    height: 3rem;
    padding: 0;
    margin: 2rem 0.5rem;
    transition: 0.2s;
  }
}
