@import "scss/variables";

.header {
  opacity: 0.9;
  height: 9rem;
  transition: 0.5s;
  color: white;
  & a {
    transition: 0.5s;
    color: white;
  }

  &.shrink {
    height: 5rem;
    background-color: white;
    box-shadow: 0 0 3px gray;
    color: black;
    & a {
      color: black;
    }
    & .more {
      & ul {
        background-color: white;
        box-shadow: 0px 3px 3px -3px gray;
      }
    }
  }
}

.logo {
  height: 60px;
}

.link {
  padding: 0.5rem;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    left: 0;
    height: 2px;
    background: $primary;
    transition: 0.4s;
  }
  &:hover:after {
    width: 100%;
    transition: 0.4s;
  }

  &.current {
    &::after {
      width: 100%;
    }
  }
}

.more {
  cursor: pointer;

  & ul {
    display: none;

    & li {
      padding: 0.5rem 0.5rem 0;

      & a {
        display: inline-block;
      }
    }
  }
  &:hover {
    & ul {
      display: block;
    }
  }
}

.icon:hover {
  color: $primary;
  transition: 0.2s;
}

.sideMenu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 70%;
  height: 100vh;
  background-color: white;
  transform: translateX(100%);
  transition: 0.5s;
  color: black;

  & a {
    color: black;
  }

  & div:not(:first-child) {
    padding: 1rem;
    border-bottom: lightgray solid 1px;
  }

  .current {
    color: $primary;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.8;
}

.sideMenuToggle:checked {
  & ~ .sideMenu {
    transform: translateX(0);
  }

  & ~ label .overlay {
    display: block;
  }
}
