@import "scss/variables";

.header {
  opacity: 0.9;
  height: 150px;
  transition: 0.5s;

  & > div,
  & > div > div {
    height: 100%;
  }

  & img {
    height: 60px;
  }

  & .link {
    color: #fff;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 0;
      left: 0;
      height: 2px;
      background: $primary-color;
      transition: 0.4s;
    }

    &:hover:after {
      width: 100%;
      transition: 0.4s;
    }
  }

  & .more {
    color: #fff;
    cursor: pointer;

    & div div:last-child {
      padding: 0.5rem 2rem;
      display: none;
    }

    &:hover {
      & div div:last-child {
        display: block;
      }
    }
  }

  & .icon {
    color: #fff;

    &:hover {
      color: $primary-color;
      transition: 0.2s;
    }
  }

  & .current {
    color: $primary-color;

    &::after {
      width: 100%;
    }
  }

  &.shrink {
    background-color: black;
    height: 80px;
    transition: 0.5s;

    & .more {
      & div div:last-child {
        background-color: black;
      }
    }
  }

  & label {
    font-size: 2rem;
  }

  & .sideMenu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 70%;
    height: 100vh;
    background-color: #fff;
    transform: translateX(100%);
    transition: 0.5s;

    & div:nth-child(n + 3) {
      border-bottom: lightgray solid 1px;
    }
  }

  & .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.8;
  }

  & input:checked {
    & ~ .sideMenu {
      transform: translateX(0);
    }

    & + label .overlay {
      display: block;
    }
  }
}
