@import "scss/variables";

.wavy {
  height: 150px;
  background-color: $background-color;
  mask-image: url('/assets/general/wavy.svg');
  mask-size: cover;
  mask-position: bottom;

  & + div {
    background-color: $background-color;
    padding-bottom: 50px;
  }
}

@media (max-width: 992px) {
  .wavy {
    height: 100px;
  }
}

@media (max-width: 576px) {
  .wavy {
    height: 50px;
  }
}