@import "scss/variables";

.course {
  $outline-position: 1rem;

  position: relative;
  box-shadow: gray 0 0 1rem;
  background-color: #fff;
  margin-right: $outline-position;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    transform: translate($outline-position, $outline-position);
    display: block;
    width: 100%;
    height: 100%;
    border: gray solid 2px;
  }

  & img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
  }

  & > div:last-child {
    padding: 1rem;

    & h3 {
      color: $primary-color;
    }

    & > p {
      display: flex;
      align-items: center;
      height: 6rem;
      overflow: hidden;
    }

    & > div {
      margin-bottom: 1rem;
      padding: 0.5rem;
      background-image: linear-gradient(to bottom, $background-color, transparent);
      // border-top: gray solid 1px;

      & p {
        margin: 0;

        & span {
          color: $primary-color;
          font-size: 1.25rem;
          display: block;
        }
      }
    }

    & .detailButton {
      width: 40%;
      height: 2.5rem;
      margin: auto;
    }
  }
}

.courses {
  .button {
    width: 12rem;
    height: 3rem;
    margin: 50px auto 0;
  }
}
