@import "scss/variables";

.searchBar {
  width: 100%;
  height: 3.5rem;
  display: flex;
  margin-bottom: 2rem;

  & input {
    flex-grow: 1;
    padding: 1rem;
    outline: none;
    border: transparent solid 1px;
    background-color: $background-color;
    transition: 0.25s;

    &:focus {
      background-color: #fff;
      border-color: $primary;
    }
  }
  & button {
    width: 3.5rem;
  }
}

.postsWrapper {
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  padding: 2.5rem;
}

.post {
  cursor: pointer;

  & img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  & p {
    margin-bottom: 0.5rem;
    
    &:hover {
      color: $primary;
    }

    &:first-child {
      font-weight: 500;
    }

    &:last-child {
      color: gray;
      font-size: 0.85rem;
      font-weight: 500;
    }
  }
}
