.errorPage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("/assets/photo_5.jpg");
  margin: 0;
  height: 100vh;
  color: lightgray;
}

.wrapper {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  & img {
    width: 40%;
    margin: 1rem;
  }
}
