@import "scss/variables";

.faq {
  & h2::before {
    content: "FAQ";
    display: block;
    font-size: 0.6em;
    color: $primary;
  }
}

.question {
  background-color: $background-color;
  padding: 1.5rem 0;
  height: 100%;
  display: flex;

  & div:first-child {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    font-size: 2rem;
    color: $primary;
  }

  & h6 {
    font-weight: bold;
    font-size: 1.25rem;
  }
}