@import "scss/variables";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

// Type
.fill {
  color: white;
  background-color: $primary-color;

  &:hover {
    background-color: #333;
    transition: 0.2s;
  }
}

.outline {
  color: $primary-color;
  background-color: transparent;
  border: $primary-color solid 2px;

  &:hover {
    background-color: $primary-color;
    color: white;
    transition: 0.2s;
  }
}

.shadow {
  background-color: transparent;
  border: #333 solid 2px;
  position: relative;

  &::after {
    display: block;
    position: absolute;
    z-index: -1;
    top: -10px;
    left: 10px;
    content: "";
    width: 100%;
    height: 100%;
    background-color: $primary-color;
    opacity: 0.4;
  }

  &:hover::after {
    opacity: 0.7;
    transition: 0.2s;
  }
}
