@import "scss/variables";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.fill {
  color: white;
  background-color: $primary;

  &.green {
    background-color: $green;
  }
  &.yellow {
    background-color: $yellow;
  }
  &.red {
    background-color: $red;
  }

  &:hover {
    background-color: #333;
    transition: 0.2s;
  }
}
.outline {
  color: $primary;
  background-color: transparent;
  border: $primary solid 2px;

  &.green {
    color: $green;
    border-color: $green;
  }
  &.yellow {
    color: $yellow;
    border-color: $yellow;
  }
  &.red {
    color: $red;
    border-color: $red;
  }

  &:hover {
    color: white;
    background-color: $primary;
    transition: 0.2s;

    &.green {
      background-color: $green;
    }
    &.yellow {
      background-color: $yellow;
    }
    &.red {
      background-color: $red;
    }
  }
}
.shadow {
  background-color: transparent;
  border: #333 solid 2px;
  position: relative;

  &::after {
    display: block;
    position: absolute;
    z-index: -1;
    top: -10px;
    left: 10px;
    content: "";
    width: 100%;
    height: 100%;
    background-color: $primary;
    opacity: 0.4;
  }

  &.green {
    &::after {
      background-color: $green;
    }
  }
  &.yellow {
    &::after {
      background-color: $yellow;
    }
  }
  &.red {
    &::after {
      background-color: $red;
    }
  }

  &:hover::after {
    opacity: 0.7;
    transition: 0.2s;
  }
}
