@import "scss/variables";

.member {
  height: 100%;
  background-color: $background-color;
  box-shadow: gray 0 0 1rem;

  & > div {
    height: 100%;
  }

  & img {
    width: 100%;
    object-fit: cover;
  }

  & .info {
    margin: auto;
    padding: 2rem;

    & p {
      margin: 0;

      &:nth-child(1) {
        font-size: 1.25rem;
        font-weight: bold;
        color: $primary-color;
      }

      &:nth-child(2) {
        font-size: 1.1rem;
      }
      &:nth-child(3) {
        margin-top: 10px;
      }
    }

    & div {
      margin: 10px;

      & i {
        font-size: 1.25rem;
        margin: 0 5px;
        transition: 0.25s;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

.team {
  & .button {
    width: 12rem;
    height: 3rem;
    margin: 2rem auto;
  }

  & .wrapper > div {
    height: 100%
  }
}

@media (min-width: 993px) {
  .team {
    & .wrapper:nth-child(n + 3) div:has(img) {
      order: 1;
    }
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .team {
    & .wrapper:nth-child(even) div:has(img) {
      order: 1;
    }
  }
}