@import "scss/variables";

.eventList {
  & table {
    width: 100%;

    & tr {
      border: lightgray solid 1px;

      & th,
      td {
        text-align: center;
        width: 25%;
      }

      & th {
        padding: 1rem;
        color: gray;
        font-size: 0.8rem;

        &:last-child {
          & button {
            font-size: 1rem;
            padding: 0.25rem;
            width: 100%;
            max-width: 11rem;
          }

          & button:last-child {
            border: $green solid 2px;
            color: $green;

            &:hover {
              background-color: $green;
              color: #fff;
            }
          }
        }
      }

      & td {
        padding: 0.5rem;

        &:last-child {
          & button {
            margin: 0 0.5rem;
            padding: 0.25rem;
            width: 50%;
            max-width: 5rem;
          }

          & button:last-child {
            border: $red solid 2px;
            color: $red;

            &:hover {
              background-color: $red;
              color: #fff;
            }
          }
        }
      }
    }
  }
  & .loadButton {
    width: 9rem;
    height: 2.5rem;
    margin: 2rem auto;
  }
}

@media (max-width: 768px) {
  .eventList {
    & table {
      & tr {
        & th:last-child {
          & button {
            font-size: 0.6rem;
          }
        }
        & td:last-child {
          & button {
            width: 3rem;
            font-size: 0.6rem;
          }
        }
      }
    }
  }
}