.member {
  position: relative;
  box-shadow: gray 0 0 15px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    transform: translate(-15px,15px);
    display: block;
    width: calc(100% + 30px);
    height: calc(100% - 30px);
    border: gray solid 2px;
  }

  & img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  & p:first-child {
    font-size: 20px;
    font-weight: bold;

    
  }

  & p:last-child {
    font-size: 16px;
    color: var(--primary-color);
  }
  
}
