@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-rgb: 48, 80, 128;
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 251, 251, 251;

}

@media (max-width: 768px) {
  :root {
    font-size: 12px;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

::selection {
  background-color: rgb(var(--primary-rgb));
  color: black;
}
