@import "scss/variables";

.contactForm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("/assets/photo_5.jpg");
  margin: 0;
  padding: 6rem;
  color: white;
}

.wrapper {
  width: 50%;
  margin: auto;
  padding: 2rem;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 0.5px white;

  & h2 {
    text-align: center;

    &::before {
      content: "Have a question";
      display: block;
      font-size: 0.6em;
      color: $primary;
    }
  }

  form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: auto;
    margin-top: 2rem;

    & input,
    textarea {
      flex: 1 0 auto;
      min-width: calc(50% - 1rem);
      background-color: transparent;
      color: white;
      outline: none;
      border: none;
      padding: 1rem;
      border: transparent solid 2px;
      box-shadow: 0 0 0.5px white;

      &:focus {
        border-color: $primary;
        transition: 0.5s;
      }

      &[aria-invalid="true"] {
        border-color: $red;
      }
    }

    & textarea {
      width: 100%;
      height: 10rem;
    }

    & .button {
      width: 100%;
      padding: 1rem;
    }
  }
}

@media (max-width: 1200px) {
  .wrapper {
    width: 60%;
  }
}

@media (max-width: 992px) {
  .wrapper {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .contactForm {
    padding: 2rem 0;
  }
  .wrapper {
    width: 90%;

    & input,
    textarea {
      width: 100%;
    }
  }
}
