.footerImages {
  
  & > div > div {
    overflow: hidden;
  }

  & img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    filter: brightness(0.8);
    transform: scale(1.01);
    transition: 1s;

    &:hover {
      transform: scale(1.2);
    }
  }
}

@media (max-width: 992px) {
  .footerImages {
    & img {
      aspect-ratio: 3 / 2;
    }
  }
}

@media (max-width: 768px) {
  .footerImages {
    & img {
      aspect-ratio: 2 / 1;
    }
  }
}
