@import "scss/variables";

.editor {
  & h3 {
    text-align: center;
    color: $primary;
    text-transform: uppercase;
  }

  & form {
    width: 50%;
    margin: auto;

    & input,
    textarea {
      width: 100%;
      outline: none;
      border: transparent solid 2px;
      padding: 1rem;
      background-color: $background-color;

      &:focus {
        border-color: $primary;
        background-color: transparent;
        transition: 0.5s;
      }
      &[aria-invalid="true"] {
        border-color: $red;
        background-color: transparent;
      }
    }
  }

  & .buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 -0.5rem;
    
    & button,
    input {
      width: 50%;
      height: 3rem;
      padding: 0;
      margin: 2rem 0.5rem;
      transition: 0.2s;
    }
  }

  & textarea {
    height: 15rem;
    overflow-y: hidden;
  }
  & .imageArea {
    width: 100%;
    aspect-ratio: 3 / 1;
    object-fit: cover;
  }
  & .imagesArea {
    width: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
  }
}

@media (max-width: 992px) {
  .editor {
    & form {
      width: 100%;
    }
  }
}

.htmlPreview {
  & input {
    display: none;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.8;
  }

  & input ~ iframe {
    display: none;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2;
    width: 100vw;
    background-color: #fff;
    height: 300px;
  }


  & label {
    cursor: pointer;
  }

  & button {
    width: 25%;
    height: 2.5rem;
    margin: 0.5rem auto;
    padding: 0;

    & label {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  & input:checked {
    & ~ iframe {
      display: block;
    }
    & ~ label {
      display: block;
    }
  }
}
