.slideWrapper {
  width: 60%;
  margin: 2rem auto;
  overflow: hidden;
  text-align: center;

  & > div > div:first-child {
    display: flex;
    transform: translateX(-20%);
    transition: 1s;

    & > div > i {
      font-weight: lighter;
      font-size: 1.5rem;
    }
    & p {
      margin: 1.25rem;

      & span {
        margin: 0.5rem;
        &:first-child {
          font-weight: bold;
        }
      }
    }
  }

  & > div:last-child {
    & i {
      cursor: pointer;
      display: inline-block;
      margin: 0 1rem;
      transition: 0.5s;
    }
  }
}

@media (max-width: 992px) {
  .slideWrapper {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .slideWrapper {
    width: 80%;

    & > div:first-child {
      & > div > i {
        font-size: 1.25rem;
      }
    }
  }
}
