@import "scss/variables";

.faq {
  margin-top: 3rem;

  & div > div > div {
    height: 100%;
  }
}

.question {
  background-color: $background-color;
  padding: 1.5rem 0;
  height: 100%;
  display: flex;

  & div:first-child {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    font-size: 2rem;
    color: crimson;
  }

  & h6 {
    font-weight: bold;
    font-size: 1.25rem;
  }
}