.header {
  height: 150px;
  transition: 0.5s;
}
.header > div, .header > div > div {
  height: 100%;
}

.headerLogo {
  height: 60px;
  width: auto;
}

.navLink {
  color: #fff;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    left: 0;
    height: 2px;
    background: var(--primary-color);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  &:hover:after {
    width: 100%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
}

.headerIcon {
  color: #fff;
  
  &:hover {
    color: var(--primary-color);
    transition: 0.2s;
  }
}

.smallHeader {
  background-color: black;
  height: 80px;
  transition: 0.5s;
}
