.quote {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("/assets/general/wallpaper-1.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  position: relative;

  & > div {
    width: 60%;
    color: lightgray;

    & h4 {
      font-size: 2.5rem;
      margin-bottom: 3rem;
    }
  }
}

@media (max-width: 992px) {
  .quote > div {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .quote > div {
    width: 80%;

    & h4 {
      font-size: 2rem;
    }
  }
}
