@import "scss/variables";

.testimonial {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("/assets/photo_3.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  color: lightgray;
  position: relative;
}

.container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: fit-content;
  padding: 2rem 0;
  overflow-x: hidden;
  backdrop-filter: blur(0.5rem);
  text-align: center;
  user-select: none;

  & h2::before {
    content: "CUSTOMER TESTIMONIAL";
    display: block;
    font-size: 0.6em;
    color: $primary;
  }
}

.slideShow {
  margin-top: 4rem;
}

.item {
  & > i {
    display: block;
    width: 50%;
    margin: 0 auto 2rem;
    font-size: 1.25rem;
  }

  & div {
    width: fit-content;
    margin: auto;

    & img {
      width: 4rem;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border-radius: 50%;
      box-shadow: 0 0 5px white;
      margin-right: 1rem;
    }
  }
}

@media (max-width: 992px) {
  .item > i {
    width: 75%;
  }
}
@media (max-width: 768px) {
  .item > i {
    font-size: 1.1rem;
  }
}
