@import "scss/variables";

.footer {
  padding: 3rem 0;
  background-image: linear-gradient($background-color, white);

  & h3 {
    color: $primary;
  }
}

.logo {
  width: 60%;
}

.icon {
  color: $primary;
}

.link {
  transition: 0.25s;

  &:hover {
    color: $primary;
  }
  &.current {
    color: $primary;
  }
}
