@import "scss/variables";

.footer {
  padding: 2rem 0;

  & h3 {
    color: $primary;
  }
}

.logo {
  width: 60%;
}

.icon {
  color: $primary;
}

.link {
  transition: 0.25s;

  &:hover {
    color: $primary;
  }
  &.current {
    color: $primary;
  }
}
